<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Formation Angular</a>
    <div class="form-group">
        <label for="languageSelect">Select Language:</label>
        <select class="form-control" id="languageSelect">
          <option value="en">English</option>
          <option value="fr">French</option>
          <!-- Add more language options as needed -->
        </select>
      </div>
</nav>
<div class="row " style="height: 86.9vh;">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
